#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Places
Exec=/usr/bin/gnome-pie -o 116
Encoding=UTF-8
Type=Application
Icon=user-bookmarks
StartupWMClass=gnome-pie-116
