#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Utilities
Exec=/usr/bin/gnome-pie -o 474
Encoding=UTF-8
Type=Application
Icon=stock_unknown
StartupWMClass=gnome-pie-474
